---
import Beams from "@/components/homepage/background";
import BackgroundContent from "@/components/homepage/header";

interface Props {
  pillText: string;
  heroTitle: string;
  heroTitleHighlight: string;
  subtitle: string;
  mainCtaText: string;
  secondCtaText: string;
}

const {
  pillText,
  heroTitle,
  heroTitleHighlight,
  subtitle,
  mainCtaText,
  secondCtaText,
} = Astro.props;
---

<div class="relative h-150 m-2">
  <div
    class="absolute top-0 left-0 w-full h-full z-0 rounded-b-4xl overflow-hidden"
  >
    <Beams
      client:only="react"
      className="invert hue-rotate-180 dark:invert-0 dark:hue-rotate-0"
      beamWidth={3}
      beamHeight={30}
      beamNumber={20}
      lightColor="#91CAAE"
      speed={2}
      noiseIntensity={1.75}
      scale={0.2}
      rotation={30}
    />
    <!-- Dark mode gradient -->
    <div
      class="hidden dark:block absolute inset-0 bg-[linear-gradient(to_top,--theme(--color-teal-950/0),--theme(--color-teal-950/0),--theme(--color-teal-950/0),--theme(--color-teal-950/0),--theme(--color-teal-950))] pointer-events-none"
    >
    </div>
    <!-- Light mode gradient -->
    <div
      class="block dark:hidden absolute inset-0 bg-teal-300/30 pointer-events-none"
    >
    </div>
  </div>
  <div class="absolute top-0 left-0 w-full h-full z-20">
    <BackgroundContent
      pillText={pillText}
      heroTitle={heroTitle}
      heroTitleHighlight={heroTitleHighlight}
      subtitle={subtitle}
      mainCtaText={mainCtaText}
      secondCtaText={secondCtaText}
    />
  </div>
</div>
